.loginScreen {
  
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
justify-content: center;

 

}

.logo {
  max-width: 3 rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}


